<div class="row p-3 mx-auto">
  <h3><%= @user.name %>の投稿</h3>
</div>

<div class="row p-3 mx-auto">
</div>

<div class="card-list-container">
  <% @cafes.each do |cafe| %>
    <%= render 'caves/card', cafe: cafe %>
  <% end %>
</div>

