<div class="row p-3 mx-auto">
  <div class="col-lg-3 col-10 mx-auto">
    <div class="row my-5 mx-auto">

      <div class="row p-3 mx-auto text-center">
        <h5><%= @user.name %> のページ</h5>
      </div>
      <!--ログインユーザーと同じであれば、編集・削除ボタンを表示する-->
      <% if @user.id == current_user.id %>
        <%= render 'edit', user: @user %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-9 col-12">
    <div class="card-list-container">
      <% @cafes.each do |cafe| %>
        <%= render 'caves/card', cafe: cafe %>
      <% end %>
    </div>
  </div>
</div>


