<div class="row">
  <div class="col-3">
    <p class="m-1">
      <% if comment.user.profile_image.present? %>
        <%= attachment_image_tag comment.user, :profile_image, :fill, 30, 30, class:"rounded-circle"%>
      <% else %>
        <%= image_tag asset_path('coffee_2.jpg'), size:'30x30', class:"rounded-circle" %>
      <% end %>
      <%= comment.user.name %>
    </p>
  </div>
  <div class="col-8 m-2">
    <%= comment.comment %>
  </div>
</div>
