<div class="row p-5 mx-auto">
    <h1>マイカフェタイムへようこそ<i class="fas fa-coffee"><i class="fas fa-cookie-bite"></i></i></h1>
</div>
<div class="row p-3 mx-auto">
  <span class="top">
  癒しのカフェタイムを共有しましょう<br>
  お出かけでも、おうちでも、会社でも、どこかでほっとした時間があると思います<br>
  お気に入りを見つけて、真似してみましょう
  </span>
</div>
