<div class="row p-5 mx-auto">
  <h3>癒しのカフェタイムを共有しましょう
    <small>
      <i class="fas fa-coffee"></i><i class="fas fa-cookie-bite"></i>
    </small>
  </h3>
</div>
<div class="row p-3 mx-auto">
  <span class="top">
  お出かけでも、おうちでも、会社でも、どこかでほっとした時間があると思います<br>
  お気に入りを見つけて、自分のカフェ時間の参考にしてみましょう
  </span>
</div>

<div class="row p-3 mx-auto">
  <%= link_to new_cafe_path, class: "btn btn-light" do %>
    投稿する
  <% end %>
</div>
