<div class="row p-5 mx-auto">
  <h3>癒しのカフェタイムを共有しましょう
    <small>
      <i class="fas fa-coffee"></i><i class="fas fa-cookie-bite"></i>
    </small>
  </h3>
</div>
<div class="row p-3 mx-auto">
  <span class="top">
  お気に入りを見つけて、自分のカフェ時間の参考にしてみましょう
  </span>
</div>

<!--ログイン：投稿ボタン、　未ログイン：ログイン・新規登録ボタン-->
<div class="row p-3 mx-auto">
  <% if user_signed_in? %>
    <%= link_to '投稿する', new_cafe_path, class: "btn btn-light col-md-6 mx-auto" %>
  <% else %>
    <%= link_to 'ログイン', new_user_session_path, method: :get, class: "btn btn-secondary col-md-7 m-3 mx-auto"%>
    <%= link_to '新規登録', new_user_registration_path, method: :get, class: "btn btn-secondary col-md-7 m-3 mx-auto" %>
  <% end %>
</div>
