/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

// 全体設定
html, body{
  background-color: #f8f4e6;
  color:#946c45;
}

h1{
  text-align: center;
}
h3{
  text-align: center;
}

.notice{
  background-color: #fffff9;
  font-weight:  bold;
}

// リンクの装飾
.link{
  text-decoration: none;
  color: #7a99cf;
}
.link:hover {
  color: #a2c2e6;
}

// いいねボタン
.heart_link{
  text-decoration: none;
  color: #e73562 ;
}
.heart_link:hover{
  color: #caac71 ;
}

// ヘッダー関連
.title{
  text-align: center;
  background:
	repeating-linear-gradient(
		45deg,
		transparent,
		transparent 1em,
		moccasin 0,
		moccasin 2em,
		transparent 0,
		transparent 3em,
		powderblue 0,
		powderblue 4em,
		transparent 0,
		transparent 5em,
		lavender 0,
		lavender 6em,
		transparent 0,
		transparent 7em,
		beige 0,
		beige 8em
	),
	repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 1em,
		khaki 0,
		khaki 2em,
		transparent 0,
		transparent 3em,
		beige 0,
		beige 4em,
		transparent 0,
		transparent 5em,
		peachpuff 0,
		peachpuff 6em
	), whitesmoke;

background-blend-mode: multiply;
}

.navbar{
  position: sticky;
  // safariではstickyが使えない
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}

// フッダー
// footer{
//   width: 100%;
//   height: 30px;
//   text-align: center;
//   line-height: 30px;
//   position: absolute;
//   background-color: #848282;
//   bottom: 0;
// }

// cafe関連
.card-img-top{
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.card-header{
  color: #009b9f;
  text-align: right;
  font-weight: bold;
  font-size: 70%;
}
.card {
  background-color: #fffff9;
}


// ボタン
.btn-secondary{
  background-color: #c49a6a;
  border-color: #c49a6a;
  color: #f8f4e6;
}
.btn-secondary:hover{
  background-color: #e8c59c;
  border-color: #c49a6a;
  color: #946c45;
}
.btn-light{
  color: #c49a6a;
  border: double 4px #67c5ff;
  border-radius: 3px;
  border-color: #c49a6a;
}
.btn-light:hover{
  color: #946c45;
}