/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

html, body{
  background-color: #f8f4e6;
  color:#6f5436;
}

h1{
  text-align: center;
}
h3{
  text-align: center;
}

// ヘッダー関連
.title_link{
  text-decoration: none;
  color: #f8f4e6 ;
  bottom: 0;
}
.title{
  background-color: #b33e5c;
}

.footer{
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}


// トップページ関連
.top{
  height: 60px;
  text-align: center;
  position: relative;
}

.top div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}


// 投稿関連
.card_subtitle{
  font-size:70% ;
}